

body {
    background-color: rgb(35, 35, 35);
    background-image: url('/Templates/src/inicio/Background.png');
    background-attachment: fixed; 
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Montserrat', crylic;
}
