<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/examen.css" />
    <link rel="stylesheet" href="css/exm_glob.css" />
  </head>
  <body>
    <div class="examen-incial">
      <div class="question-frame">
        <div class="content">
          <div class="top">
            <div class="buttons">
              <img class="arrow" src="svg/arrow.svg" />
              <div class="text-wrapper">Pregunta 3 de 10</div>
              <img class="close" src="svg/close.svg" />
            </div>
            <img class="line" src="svg/line-1.svg" />
          </div>
          <div class="selection-question">
            <div class="div">
              <div class="title"><div class="text-wrapper-2">PREGUNTA PRUEBA 3</div></div>
              <div class="answers">

                <div class="ANS">
                  <input class="radio" type="radio" id="ans-1" value="1">
                  <label class="text-wrapper-3" for="ans-1">Respuesta Prueba 1</label>
                </div>

                <div class="ANS">
                  <input class="radio" type="radio" id="ans-2" value="2">
                  <label class="text-wrapper-3" for="ans-2">Respuesta Prueba 2</label>
                </div>

                <div class="ANS">
                  <input class="radio" type="radio" id="ans-3" value="3">
                  <label class="text-wrapper-3" for="ans-3">Respuesta Prueba 3</label>
                </div>

                <div class="ANS">
                  <input class="radio" type="radio" id="ans-4" value="4">
                  <label class="text-wrapper-3" for="ans-4">Respuesta Prueba 4</label>
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="bottom">
            <img class="line" src="svg/line-1.svg" />
            <div class="buttons-2">
              <div class="omitir"><div class="text-wrapper-4">Omitir</div></div>
              <div class="enviar"><div class="text-wrapper-4">Siguiente</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
